?SECTION ALL
# drop traffic from banned list
DROP:NFLOG(4)	inet:+banned	$FW

?SECTION ESTABLISHED
?SECTION RELATED
?SECTION INVALID
?SECTION UNTRACKED
?SECTION NEW

# drop invalid TCP connections and pings from the internet
# pings dropped by policy but rule here allows metrics tracking via comment
Invalid(DROP)	inet	$FW	tcp
Ping(DROP)	inet	$FW

# allow SSH in, but at a limited rate and log connections
SSH(ACCEPT):NFLOG(4)	inet	$FW	-	-	-	-	s:6/min:15
